<div class="flex flex-col">
  <div class="flex flex-row text-primary ml-2">
    <div class="flex flex-col -mr-2.5">
      <mat-icon class="scale-75 place-self-center text-primary" svgIcon="circle"></mat-icon>
      <span class="text-defaultBody text-primary">{{ 'REGISTRATION-STEPS.START' | translate }}</span>
    </div>
    <div class="border-b-2 border-aiGrey-500 h-registrationStepsConnectingLine w-registrationStepsConnectingLine"></div>
    <div class="flex flex-col -mx-12">
      <mat-icon class="scale-75 place-self-center text-aiGrey-500" svgIcon="filled-circle"></mat-icon>
      <span class="text-defaultBody text-aiGrey-500">{{ 'REGISTRATION-STEPS.DOCUMENTS' | translate }}</span>
    </div>
    <div class="border-b-2 border-aiGrey-500 h-registrationStepsConnectingLine w-registrationStepsConnectingLine"></div>
    <div class="flex flex-col -mx-12">
      <mat-icon class="scale-75 place-self-center text-aiGrey-500" svgIcon="filled-circle"></mat-icon>
      <span class="text-defaultBody text-aiGrey-500">{{ 'REGISTRATION-STEPS.REGISTRATION-DATA' | translate }}</span>
    </div>
    <div class="border-b-2 border-aiGrey-500 h-registrationStepsConnectingLine w-registrationStepsConnectingLine"></div>
    <div class="flex flex-col -ml-6">
      <mat-icon class="scale-75 place-self-center text-aiGrey-500" svgIcon="filled-circle"></mat-icon>
      <span class="text-defaultBody text-aiGrey-500">{{ 'REGISTRATION-STEPS.ADMISSION' | translate }}</span>
    </div>
  </div>
</div>
