<div class="flex flex-col h-fullPage w-sideMenu bg-primary"
     [@slideNavigation]="{ value: isExpanded ? expanded : collapsed, params: { width_expanded: menuSizes.sideMenuExpanded, width_collapsed: menuSizes.sideMenuCollapsed }}">
  <div class="h-logoIcon w-logoIcon mt-5 ml-3">
    <img
      alt="sidemenu logo"
      src="assets/images/sidemenu-logo.png"
    />
  </div>
  <button class="text-aiBlue-300 mt-9 flex" (click)="toggleCollapse()">
    <mat-icon class="ml-7" svgIcon="sandwich-menu"></mat-icon>
  </button>
  <ai-side-menu-item
    [block]="'text-white'"
    [iconType]="'svg'"
    [icon]="'search'">
  </ai-side-menu-item>
  <ai-side-menu-item
    [block]="'text-white'"
    [iconType]="'png'"
    [icon]="'sidemenu-star'"
    [label]="'SIDE-MENU.FAVORITES' | translate"
    [isExpanded]="isExpanded">
  </ai-side-menu-item>
  <ai-side-menu-item
    [block]="'text-white'"
    [iconType]="'png'"
    [icon]="'sidemenu-message'"
    [label]="'SIDE-MENU.CONTACT' | translate"
    [isExpanded]="isExpanded">
  </ai-side-menu-item>
  <ai-side-menu-item
    [block]="'text-white'"
    [iconType]="'png'"
    [icon]="'sidemenu-levels'"
    [label]="'SIDE-MENU.SIGN-UP' | translate"
    [isExpanded]="isExpanded">
  </ai-side-menu-item>
  <ai-side-menu-item
    [block]="'text-white'"
    [iconType]="'png'"
    [icon]="'sidemenu-bank'"
    [label]="'SIDE-MENU.FURTHER-OPTIONS' | translate"
    [isExpanded]="isExpanded">
  </ai-side-menu-item>

</div>
