<div class="flex flex-col h-fullPage w-sideMenu bg-primary">
  <div class="h-logoIcon w-logoIcon mt-5 ml-3">
    <img
      alt="sidemenu logo"
      src="assets/images/sidemenu-logo.png"
    />
  </div>
  <div class="h-sideMenuIcon w-sideMenuIcon mx-auto mt-9 text-white">
    <mat-icon svgIcon="sandwich-menu"></mat-icon>
  </div>
  <div class="h-sideMenuIcon w-sideMenuIcon mx-auto mt-9 text-white">
    <mat-icon svgIcon="search"></mat-icon>
  </div>
  <div class="h-sideMenuIcon w-sideMenuIcon mx-auto mt-9">
    <img
      alt="sidemenu star"
      src="assets/images/sidemenu-star.png"
    />
  </div>
  <div class="h-sideMenuIcon w-sideMenuIcon mx-auto mt-9">
    <img
      alt="sidemenu message"
      src="assets/images/sidemenu-message.png"
    />
  </div>
  <div class="h-sideMenuIcon w-sideMenuIcon mx-auto mt-9">
    <img
      alt="sidemenu levels"
      src="assets/images/sidemenu-levels.png"
    />
  </div>
  <div class="h-sideMenuIcon w-sideMenuIcon mx-auto mt-9">
    <img
      alt="sidemenu bank"
      src="assets/images/sidemenu-bank.png"
    />
  </div>

</div>
